# START HEADER
#  File:                $Workfile:   CcmTestFramework.properties.template  $
#  Author:              $Author:   naveen.k  $
#  Revision:            $Revision:   1.0  $
#  Purpose:             Configuration file for the Ccm Test Framework application
#  Operating System:    UNIX
#  Last Change:         $Date:   Jul 04 2017 17:03:24  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/cfg_templates/CcmTestFramework.properties.template-arc  $
#
#   Rev 1.0   Jul 04 2017 17:03:24   naveen.k
#Initial revision.
#
#   Rev 1.15   Mar 13 2013 14:48:08   schwarje
#IT-32434: added TF template
#
#   Rev 1.14   Dec 14 2011 08:05:20   schwarje
#updated TrxBuilder selection rules to latest version
#
#   Rev 1.13   Sep 30 2011 16:07:46   lejam
#Added SOMToFIFRepository_Activation IT-28575
#
#   Rev 1.12   Aug 01 2011 15:43:20   schwarje
#added missing parameters for SOM requests
#
#   Rev 1.11   May 26 2011 13:54:06   schwarje
#IT-28575: added sipTrunk to TrxBuilder selection rules
#
#   Rev 1.10   Dec 09 2010 18:05:10   schwarje
#SPN-FIF-000107141: added missing parameters
#
#   Rev 1.9   Jul 08 2010 19:09:24   schwarje
#IT-27143: updated TrxBuilder selection rules
#
#   Rev 1.8   Jun 24 2010 18:01:38   schwarje
#CPCOM Phase 2: new FIF client type accepting SOM orders
#
#   Rev 1.7   Jun 09 2010 18:03:00   schwarje
#IT-26029: changed selectInterval
#
#   Rev 1.6   Jun 08 2010 17:24:28   schwarje
#IT-26029
#
#   Rev 1.5   Feb 11 2010 11:14:26   schwarje
#added parameter for SBUS calls
#
#   Rev 1.4   Oct 15 2009 14:30:54   schwarje
#added COM parameters
#
#   Rev 1.3   Dec 07 2005 14:29:52   schwarje
#IT-15085: enabled reference data support
#
#   Rev 1.2   Sep 19 2005 15:49:20   banania
#Changed location for dtds.
#
#   Rev 1.1   Sep 19 2005 15:38:44   banania
#Directory for dtds added.
#
#   Rev 1.0   Sep 15 2005 15:58:04   banania
#Initial revision.
#
#
# END HEADER

####################
# GENERAL SETTINGS #
####################

SynchronousFifClient.NumberOfRequestReceivers=1
SynchronousFifClient.NumberOfRequestHandlers=1
SynchronousFifClient.NumberOfRecycleHandlers=0
SynchronousFifClient.ClientType=TF
SynchronousFifClient.ClientId=TF1
SynchronousFifClient.FifTransaction.DBAlias=requestdb
SynchronousFifClient.FailedRequestNotification.DBAlias=requestdb
SynchronousFifClient.CreateFailedRequestNotification=false
SynchronousFifClient.DeleteAfterCompletion=false
SynchronousFifClient.DeleteUnidentifiedRequestsAfterCompletion=false
SynchronousFifClient.BlockActionNames=false
SynchronousFifClient.FailedResponseHandling=false
SynchronousFifClient.HangingRequestHandling=false


#############
# Simple TrxBuilder mappings
#############

# the simple cases, where transactionType directly maps to the TrxBuilder configuration
SynchronousSOMQueueClient.TrxBuilderSelection.create.Filename=SOMToFIFRepository_ExternalOrders.xml
SynchronousSOMQueueClient.TrxBuilderSelection.close-cancel.Filename=SOMToFIFRepository_ExternalOrders.xml
SynchronousSOMQueueClient.TrxBuilderSelection.close-abort.Filename=SOMToFIFRepository_ExternalOrders.xml
SynchronousSOMQueueClient.TrxBuilderSelection.close-final.Filename=SOMToFIFRepository_ExternalOrders.xml
SynchronousSOMQueueClient.TrxBuilderSelection.new.Filename=SOMToFIFRepository_ExternalOrders.xml
SynchronousSOMQueueClient.TrxBuilderSelection.masterdata.Filename=SOMToFIFRepository_Masterdata.xml
SynchronousSOMQueueClient.TrxBuilderSelection.activateONEGroup.Filename=SOMToFIFRepository_Activation.xml

#############
# TrxBuilder mappings for transactionType=cancel
#############

SynchronousSOMQueueClient.TrxBuilderSelection.cancel.1.Filename=SOMToFIFRepository_Cancellation.xml
SynchronousSOMQueueClient.TrxBuilderSelection.cancel.1.XPathExpression=\
count(/*/cancellation | /*/providerChange) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.cancel.2.Filename=SOMToFIFRepository_OPTerminationsWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.cancel.2.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.cancel.3.Filename=SOMToFIFRepository_AllScenariosWF1.xml
SynchronousSOMQueueClient.TrxBuilderSelection.cancel.3.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/customerData) = 0


#############
# TrxBuilder mappings for transactionType=allocate
#############

# allocate for IPCentrex
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.1.Filename=SOMToFIFRepository_IPCentrex.xml
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.1.XPathExpression=\
count(/*/*/*/ipCentrex | /*/*/*/businessDSL | /*/*/*/isdnS2M | /*/*/*/sipTrunk) > 0

# allocate (new workflow) for providerChange, contract partner change, lineChange for OP products
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.2.Filename=SOMToFIFRepository_OPTakeoverScenariosWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.2.XPathExpression=\
count(/*/providerChange | /*/contractPartnerChange) > 0 and \
count(/*/*/*/ipBitstream) > 0 and \
count(/*/*/*/isdn | /*/*/*/ngn | /*/*/*/lte | /*/*/*/isdnP2P) = 0

# allocate for non-OP scenarios
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.3.Filename=SOMToFIFRepository_LTE.xml
SynchronousSOMQueueClient.TrxBuilderSelection.allocate.3.XPathExpression=\
count(/*/customerData) > 0

#############
# TrxBuilder mappings for transactionType=validate
#############

SynchronousSOMQueueClient.TrxBuilderSelection.validate.1.Filename=SOMToFIFRepository_OPTerminationsWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.validate.1.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/*/*/ipCentrex | /*/*/*/businessDSL | /*/*/*/isdnS2M | /*/*/*/sipTrunk) = 0 and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.validate.2.Filename=SOMToFIFRepository_OPTakeoverScenariosWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.validate.2.XPathExpression=\
count(/*/contractPartnerChange) > 0 and \
count(/*/*/*/ipCentrex | /*/*/*/businessDSL | /*/*/*/isdnS2M | /*/*/*/sipTrunk) = 0 and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.validate.3.Filename=SOMToFIFRepository_OPTerminationsWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.validate.3.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/*/discount) > 0 and \
count(/*/*/functions/*) = 0 \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.validate.4.Filename=SOMToFIFRepository_AllScenariosWF1.xml
SynchronousSOMQueueClient.TrxBuilderSelection.validate.4.XPathExpression=\
count(/*/customerData) = 0

#############
# TrxBuilder mappings for transactionType=execute
#############
SynchronousSOMQueueClient.TrxBuilderSelection.execute.1.Filename=SOMToFIFRepository_LTE.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.1.XPathExpression=\
count(/*/*/functions/*/processingStatus) > 0 and \
count(/*/*/*/ipCentrex | /*/*/*/businessDSL | /*/*/*/isdnS2M | /*/*/*/sipTrunk) = 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.2.Filename=SOMToFIFRepository_IPCentrex.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.2.XPathExpression=\
count(/*/*/*/ipCentrex | /*/*/*/businessDSL | /*/*/*/isdnS2M | /*/*/*/sipTrunk) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.3.Filename=SOMToFIFRepository_OPLineChangesWF11.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.3.XPathExpression=\
(count(/*/lineChange) > 0 or count(/*/relocation) > 0) and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.4.Filename=SOMToFIFRepository_OPTerminationsWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.4.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.5.Filename=SOMToFIFRepository_OPLineChangesWF11.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.5.XPathExpression=\
count(/*/adjustmentCreation) > 0 or \
count(/*/adjustmentTermination) > 0 or \
count(/*/customerChange) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.6.Filename=SOMToFIFRepository_OPTakeoverScenariosWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.6.XPathExpression=\
count(/*/contractPartnerChange) > 0 and \
count(/*/customerData) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.7.Filename=SOMToFIFRepository_OPTerminationsWF5.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.7.XPathExpression=\
count(/*/termination) > 0 and \
count(/*/*/discount) > 0 and \
count(/*/*/functions/*) = 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.8.Filename=SOMToFIFRepository_Cancellation.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.8.XPathExpression=\
count(/*/cancellation) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.9.Filename=SOMToFIFRepository_DeactivateCustomer.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.9.XPathExpression=\
count(/*/customerDeactivation) > 0

SynchronousSOMQueueClient.TrxBuilderSelection.execute.10.Filename=SOMToFIFRepository_AllScenariosWF1.xml
SynchronousSOMQueueClient.TrxBuilderSelection.execute.10.XPathExpression=\
count(/*/customerData) = 0

#############
# TrxBuilder mappings END
#############


#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         ccmtest.testframework.ServiceBusConfigFile
#ValidFrom:         FIF-API-34.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      etc/mcf-comservice.xml
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     11.02.2010
#Last_Modified_By   schwarje
#Description:       The directory to store the service bus configuration file
#END PARAMETER
testframework.ServiceBusConfigFile=${ccmtest.testframework.ServiceBusConfigFile}

#START PARAMETER
#Parameter:         ccmtest.testframework.MetaDataDir
#ValidFrom:         FIF-API-17.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./etc
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     15.09.05
#Last_Modified_By   wlazlow
#Description:       The directory to store metadata file
#END PARAMETER
testframework.MetaDataDir=${ccmtest.testframework.MetaDataDir}

#START PARAMETER
#Parameter:         ccmtest.SynchronousFifClient.FilePath
#ValidFrom:         FIF-API-36.10.00
#ValidTo:           open
#Components:        FIF-API (CcmTestFramework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./WORK
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     08.06.10
#Last_Modified_By   schwarje
#Description:       The path to the directory where all FIF related messages are stored.
#Description:       The messages are actually stored in child directories like fif-request.
#END PARAMETER

SynchronousSOMQueueClient.SOMRequestDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/som-request
SynchronousFifClient.SentOutputDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/fif-request
SynchronousFifClient.ReplyOutputDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/fif-reply
SynchronousFifClient.InvalidReplyOutputDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/invalid-reply
SynchronousFifClient.RequestOutputDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/tf-request
SynchronousFifClient.ResponseOutputDir=${ccmtest.SynchronousFifClient.FilePath}/CcmTestFramework/tf-response

#---------------------#
# Constant parameters #
#---------------------#

SynchronousSOMQueueClient.WriteSOMRequests=true
testframework.WriteSomFiles=true
testframework.SendSomFiles=true 
SynchronousFifClient.WriteSentMessages=true
SynchronousFifClient.WriteReplyMessages=true
SynchronousFifClient.WriteRequestMessages=true
SynchronousFifClient.WriteResponseMessages=true
SynchronousFifClient.WriteInvalidRequestMessages=true
messagecreator.WriteOutputFiles=false

#############################
# MESSAGE CREATION SETTINGS #
#############################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         ccmtest.messagecreator.MetaDataDir
#ValidFrom:         FIF-API-17.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./etc
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     15.09.05
#Last_Modified_By   wlazlow
#Description:       The directory where the metadata file is stored
#END PARAMETER
messagecreator.MetaDataDir=${ccmtest.messagecreator.MetaDataDir}

#START PARAMETER
#Parameter:         ccmtest.messagecreator.XSLT.Directory
#ValidFrom:         FIF-API-17.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./xslt
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     15.09.05
#Last_Modified_By   wlazlow
#Description:       The directory where the XSLT files are located
#END PARAMETER
messagecreator.XSLT.Directory=${ccmtest.messagecreator.XSLT.Directory}

#START PARAMETER
#Parameter:         ccmtest.messagecreator.DTDDir
#ValidFrom:         FIF-API-17.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./dtd
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     19.09.05
#Last_Modified_By   Banania
#Description:       The directory to read the dtds from
#END PARAMETER
messagecreator.DTDDir=${ccmtest.messagecreator.DTDDir}


#---------------------#
# Constant parameters #
#---------------------#

messagecreator.MetaDataFile=testframework-metadata.xml
messagecreator.EnableReferenceDataSupport=true
messagecreator.ReferenceDataDBAlias=requestdb
messagecreator.XSLT.WriteIntermediateFiles=false


###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         ccmtest.log4j.appender.File.File
#ValidFrom:         FIF-API-17.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework / BPM)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/CcmTestFramework.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     15.09.05
#Last_Modified_By   wlazlow
#Description:       The name (including relative of absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${ccmtest.log4j.appender.File.File}


#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=10MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n



###########################
# Backend Server Settings #
###########################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         ccmfif.ServerHandler.ServerProcessName
#ValidFrom:         FIF-API-26
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       process names
#DefaultValue:      -
#ExampleValue:      CcmFifInterface_std
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.06.10
#Last_Modified_By   schwarje
#Description:       The name of the CcmFifInterface process
#END PARAMETER
ServerHandler.ServerProcessName=${ccmfif.ServerHandler.ServerProcessName}

#START PARAMETER
#Parameter:         ccmfif.ServerHandler.ServerInstanceBase
#ValidFrom:         FIF-API-36.00.00
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       instance name base
#DefaultValue:      -
#ExampleValue:      fifie_CFD_
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.06.10
#Last_Modified_By   schwarje
#Description:       The base for name of the instance of the CcmFifInterface
#Description:       The actual name of the instance is craeted by concatinating 
#Description:       the thread number to the instance base
#END PARAMETER
ServerHandler.ServerInstanceBase=${ccmfif.ServerHandler.ServerInstanceBase}

#START PARAMETER
#Parameter:         ccmfif.ServerHandler.ServerArguments
#ValidFrom:         FIF-API-36.00.00
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#DefaultValue:      -
#ExampleValue:      
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.06.10
#Last_Modified_By   schwarje
#Description:       arguments the CcmFifInterface is called with
#END PARAMETER
ServerHandler.ServerArguments=${ccmfif.ServerHandler.ServerArguments}



###########################
# RequestHandler Settings #
###########################

# batch size for retrieving FifTransactions
RequestHandler.BatchSize=100
# waiting time (in milliseconds) after retrieving FifTransactions without success
RequestHandler.SelectInterval=500

######################
# Recycling Settings #
######################

RequestHandler.EnableRecycling=false

#####################
# DATABASE SETTINGS #
#####################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         testframework.db.requestdb.Driver
#ValidFrom:         FIF-API-18.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       Class name
#DefaultValue:      -
#ExampleValue:      oracle.jdbc.driver.OracleDriver
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.12.05
#Last_Modified_By   schwarje
#Description:       The name of the JDBC database driver to use.
#END PARAMETER
db.requestdb.Driver=${testframework.db.requestdb.Driver}

#START PARAMETER
#Parameter:         testframework.db.requestdb.ConnectString
#ValidFrom:         FIF-API-18.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       Fully qualified URL for JDBC
#DefaultValue:      -
#ExampleValue:      jdbc:oracle:thin:@hpdbvb01:1535:ccmdev
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.12.05
#Last_Modified_By   schwarje
#Description:       The connection string to use to connect to the database containing the CCM CCM_FIF_REQUEST table.
#Description:       (Format: jdbc:oracle:thin:@hostname:port:dbname)
#END PARAMETER
db.requestdb.ConnectString=${testframework.db.requestdb.ConnectString}

#START PARAMETER
#Parameter:         testframework.db.requestdb.User
#ValidFrom:         FIF-API-18.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       All users of database.
#DefaultValue:      -
#ExampleValue:      ccm_user
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.12.05
#Last_Modified_By   schwarje
#Description:       The user name to use to connect to the database containing the CCM FIF_REQUEST table.
#END PARAMETER
db.requestdb.User=${testframework.db.requestdb.User}

#START PARAMETER
#Parameter:         testframework.db.requestdb.Password
#ValidFrom:         FIF-API-18.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       Valid password.
#DefaultValue:      -
#ExampleValue:      ernirnlihlrieppg
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.12.05
#Last_Modified_By   schwarje
#Description:       The ecnrypted password to use to connect to the database (encrypted in CCB format).
#END PARAMETER
db.requestdb.Password=${testframework.db.requestdb.Password}

#START PARAMETER
#Parameter:         testframework.db.requestdb.EncryptionKey
#ValidFrom:         FIF-API-18.00.00
#ValidTo:           open
#Components:        FIF-API (Ccm Test Framework)
#ParameterType:     STRING
#ValidValues:       Encryption key used to encrypt the password.
#DefaultValue:      -
#ExampleValue:      pshsodoehseffjlhsohedqfpnpfssmpleggfqpprnlhjhess
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     07.12.05
#Last_Modified_By   schwarje
#Description:       The encryption key that was used to encrypt the database password.
#END PARAMETER
db.requestdb.EncryptionKey=${testframework.db.requestdb.EncryptionKey}


#---------------------#
# Constant parameters #
#---------------------#

# The list of database aliases that are being used by the application
# An alias maps to a specific set of database configuration settings
# The DatabaseClient only needs one database alias and this alias should
# be called requestdb
db.aliases=requestdb

# The maximum number of minutes that a connection can remain active (in minutes)
db.requestdb.MaximumConnectionLifeTime=240

# The minimum number of open connections in the pool
db.requestdb.MinimumConnectionCount=0

# The maximum number of open connections in the pool
db.requestdb.MaximumConnectionCount=15

# The number of minutes to wait between connection cleanup runs
db.requestdb.HouseKeepingSleepTime=1


# The select statement recycle transaction by ID 
SynchronousFifClient.FifTransaction.RetrieveFifTransactionsById= \
select * from fif_transaction where transaction_id = ? and client_type = ?

# The select statement to retrieve pending transactions
SynchronousFifClient.FifTransaction.RetrievePendingFifTransactions= \
select * from fif_transaction \
where status = ? and client_id = ? \
and due_date <= sysdate \
and rownum <= ?

# The select statement to retrieve completed requests with failed responses
SynchronousFifClient.FifTransaction.RetrieveFailedResponses= \
select * from fif_transaction \
where status = ? \
and client_id = ? \
and audit_update_date_time <= ? \
and response_retry_count < ? \
and rownum <= ?

# The delete statement recycle transaction
SynchronousFifClient.FifTransaction.DeleteFifTransaction= \
delete from fif_transaction where transaction_id = ? and client_type = ?

# The update statement recycle transaction
SynchronousFifClient.FifTransaction.UpdateFifTransaction= \
update fif_transaction set \
due_date = ?, end_date = ?, status = ?, recycle_stage = ?, client_response = ?, \
customer_number = ?, audit_update_user_id = ?, audit_update_date_time = sysdate, response_retry_count = ?, jms_correlation_id = ?, jms_reply_to = ? \
where transaction_id = ? and client_type = ?

# The insert statement recycle transaction
SynchronousFifClient.FifTransaction.InsertFifTransaction= \
insert into fif_transaction \
(transaction_id, client_type, client_id, client_request, client_response, due_date, entry_date, \
status, recycle_stage, customer_number, audit_update_user_id, response_retry_count, jms_correlation_id, jms_reply_to, audit_update_date_time) \
values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, sysdate)

