# START HEADER
#  File:                $Workfile:   ExportDBStatusToCSV.properties.template  $
#  Author:              $Author:   goethalo  $
#  Revision:            $Revision:   1.0  $
#  Purpose:             Configuration file for the ExportDBStatusToCSV application
#  Operating System:    UNIX
#  Last Change:         $Date:   Jan 27 2004 17:02:44  $
#  Change history:
#  $Log:   F:/GRUPPEN/PROJEKTE/PVCS_FIF/archives/FIF/CF/cfg_templates/ExportDBStatusToCSV.properties.template-arc  $
#
#   Rev 1.0   Jan 27 2004 17:02:44   goethalo
#Initial revision.
#
# END HEADER

####################
# GENERAL SETTINGS #
####################

# The names of the parameters that should be part of the CSV file.
# Each parameter will be represented by a column in the CSV file.
#
# The following parameter names represent fields of the request row:
#	@TRANSACTION_ID	: The transaction ID of the request
#	@STATUS			: The status of the request
#	@ERROR_TEXT		: The error text of the request
#	@CREATION_DATE  : The creation date of the request
#	@START_DATE		: The start date of the request processing
#	@END_DATE		: The end date of the request processing
#
ExportDBStatusToCSV.ExportParameterNames=CUSTOMER_NUMBER,ACCOUNT_NUMBER,OLD_CUSTOMER_GROUP_NUMBER,NEW_CUSTOMER_GROUP_NUMBER,@STATUS,@ERROR_TEXT,@CREATION_DATE

# The column names to use in the CSV file
ExportDBStatusToCSV.ExportColumnNames=CUSTOMER_NUMBER,ACCOUNT_NUMBER,OLD_CUSTOMER_GROUP,NEW_CUSTOMER_GROUP,STATUS,ERROR_TEXT,REQUEST_DATE



##################
# SQL STATEMENTS #
##################

# The SQL statement for retrieving requests from the database
ExportDBStatusToCSV.RetrieveRequestsStmt=SELECT * FROM FIF_REQUEST WHERE TARGET_CLIENT='SAP' AND ACTION_NAME='changeCustomerGroup' ORDER BY TRANSACTION_ID

# The name of the table field representing the transaction Id of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.TransactionIDFieldName=TRANSACTION_ID

# The name of the table field representing the status of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.StatusFieldName=STATUS

# The name of the table field representing the error text of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.ErrorTextFieldName=ERROR_TEXT

# The name of the table field representing the creation date of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.CreationDateFieldName=CREATION_DATE

# The name of the table field representing the creation date of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.StartDateFieldName=START_DATE

# The name of the table field representing the creation date of the request
ExportDBStatusToCSV.RetrieveRequestsStatement.EndDateFieldName=END_DATE


# The SQL statement for retrieving request parameters from the database
ExportDBStatusToCSV.RetrieveParamsStmt=SELECT * FROM FIF_REQUEST_PARAM WHERE TRANSACTION_ID=?

# The name of the database field representing the parameter name for a request
ExportDBStatusToCSV.RetrieveParamsStmt.ParamNameFieldName=PARAM

# The name of the database field representing the parameter value for a request
ExportDBStatusToCSV.RetrieveParamsStmt.ParamValueFieldName=VALUE



###################
# LOGGER SETTINGS #
###################

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         sapfif.exportdbstatustocsv.log4j.appender.File.File
#ValidFrom:         FIF-API-04.00.00
#ValidTo:           open
#Components:        FIF-API (SAP-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/ExportDBStatusToCSV.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     27.1.04
#Last_Modified_By   goethalo
#Description:       The name (including relative of absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${sapfif.exportdbstatustocsv.log4j.appender.File.File}

#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n
