# START HEADER
#  File:                $Workfile:   FIFServiceBusResponseClient.properties.template  $
#  Author:              $Author:   schwarje  $
#  Revision:            $Revision:   1.10  $
#  Purpose:             Configuration file for the FIF ServiceBus Client application
#  Operating System:    UNIX
#  Last Change:         $Date:   Jan 21 2011 14:58:34  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/FIFServiceBusResponseClient.properties.template-arc  $
#
#   Rev 1.10   Jan 21 2011 14:58:34   schwarje
#SPN-FIF-000108556: implemented ServerHandlerPool for SBUS-FIF-Clients
#
#   Rev 1.9   Dec 07 2010 18:57:00   wlazlow
#IT-k-29305
#
#   Rev 1.8   Sep 24 2010 15:49:34   schwarje
#SPN-FIF-000103773: added SynchronousFifClient.WriteReplyMessages
#
#   Rev 1.7   Sep 14 2010 16:39:52   schwarje
#fixed wrong setting of failedRequestNotification creation
#
#   Rev 1.6   Sep 14 2010 16:29:58   schwarje
#SPN-FIF-000103773: fixed service bus clients
#
#   Rev 1.5   Dec 15 2009 16:58:14   makuier
#Added long_value to service_bus_request_param
#
#   Rev 1.4   May 14 2009 12:04:34   schwarje
#IT-24385: increased log file size
#
#   Rev 1.3   Mar 09 2009 16:02:54   makuier
#Use instance base instead of instance name.
#
#   Rev 1.2   Dec 05 2008 16:28:16   schwarje
#IT-k-24294: added external system id for retrieveRequest
#
#   Rev 1.1   Aug 21 2008 16:53:48   schwarje
#IT-22684: added parameters for logging of request results
#
#   Rev 1.0   Jul 30 2008 18:04:02   schwarje
#Initial revision.
#
# END HEADER

####################
# GENERAL SETTINGS #
####################


#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         fifservicebusresponseclient.SynchronousFifClient.FilePath
#ValidFrom:         FIF-API-36.10.00
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./WORK
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     08.06.10
#Last_Modified_By   schwarje
#Description:       The path to the directory where all FIF related messages are stored.
#Description:       The messages are actually stored in child directories like fif-request.
#END PARAMETER

SynchronousFifClient.SentOutputDir=${fifservicebusresponseclient.SynchronousFifClient.FilePath}/FIFServiceBusResponseClient/fif-request
SynchronousFifClient.ReplyOutputDir=${fifservicebusresponseclient.SynchronousFifClient.FilePath}/FIFServiceBusResponseClient/fif-reply
SynchronousFifClient.InvalidReplyOutputDir=${fifservicebusresponseclient.SynchronousFifClient.FilePath}/FIFServiceBusResponseClient/fif-invalid-reply

#START PARAMETER
#Parameter:         fifservicebusresponseclient.servicebusclient.BeanConfigurationFile
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      etc/mcf-fifresponseservice.xml
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     08.08.07
#Last_Modified_By   schwarje
#Description:       Indicates the location of the configuration file for the message connector framework. The location of the file is relative to the work directory.
#END PARAMETER
servicebusclient.BeanConfigurationFile=file:${fifservicebusresponseclient.servicebusclient.BeanConfigurationFile}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.ServerHandler.ServerProcessName
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       process names
#DefaultValue:      -
#ExampleValue:      CcmFifInterface_std
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The name of the CcmFifInterface process
#END PARAMETER
ServerHandler.ServerProcessName=${fifservicebusresponseclient.ServerHandler.ServerProcessName}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.ServerHandler.ServerInstanceBase
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       instance base names
#DefaultValue:      -
#ExampleValue:      SBU_4_
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The base name of the instance of the CcmFifInterface
#END PARAMETER
ServerHandler.ServerInstanceBase=${fifservicebusresponseclient.ServerHandler.ServerInstanceBase}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.ServerHandler.ServerArguments
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API
#ParameterType:     STRING
#ValidValues:       instance names
#DefaultValue:      -
#ExampleValue:      
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       arguments the CcmFifInterface is called with
#END PARAMETER
ServerHandler.ServerArguments=${fifservicebusresponseclient.ServerHandler.ServerArguments}

#---------------------#
# Constant parameters #
#---------------------#

# indicates, if notifications are created (CCM-FIF handleFailedFifRequest) after a request failed in the back end
SynchronousFifClient.FailedRequestNotification=false

# Indicates whether messages sent to FIF should be written to an output file
# (true/false)
SynchronousFifClient.WriteSentMessages=true

# Indicates whether the request messages from COM should be written to an output file
# (true/false)
SynchronousFifClient.WriteRequestMessages=true

# Indicates whether the reply messages should be written to an output file
# (true/false)
SynchronousFifClient.WriteReplyMessages=true

# Configuration of technical recycling
RequestHandler.EnableRecycling=false

# indicates, which db alias is used for request logging
servicebusclient.RequestLogging.DBAlias=ccmdb


#############################
# MESSAGE CREATION SETTINGS #
#############################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         fifservicebusresponseclient.messagecreator.MetaDataDir
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./etc
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The directory where the metadata file is located.
#END PARAMETER
messagecreator.MetaDataDir=${fifservicebusresponseclient.messagecreator.MetaDataDir}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.messagecreator.OutputDir
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./output
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The directory to store the output XML files in.
#Description:       (Not used if messagecreator.WriteOutputFiles is set to false).
#END PARAMETER
messagecreator.OutputDir=${fifservicebusresponseclient.messagecreator.OutputDir}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.messagecreator.XSQL.Directory
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./xsql
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The directory where the XSQL files are located.
#END PARAMETER
messagecreator.XSQL.Directory=${fifservicebusresponseclient.messagecreator.XSQL.Directory}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.messagecreator.XSLT.Directory
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./xslt
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The directory where the XSLT files are located.
#END PARAMETER
messagecreator.XSLT.Directory=${fifservicebusresponseclient.messagecreator.XSLT.Directory}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.messagecreator.XSLT.IntermediateDir
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       path name
#DefaultValue:      -
#ExampleValue:      ./intermediate
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The directory where the intermediate XML files should be written to.
#Description:       (Not used if messagecreator.XSLT.WriteIntermediateFiles is set to false).
#END PARAMETER
messagecreator.XSLT.IntermediateDir=${fifservicebusresponseclient.messagecreator.XSLT.IntermediateDir}


#---------------------#
# Constant parameters #
#---------------------#

# The name of the XML metadata file
messagecreator.MetaDataFile=fif-servicebusresponseclient-metadata.xml

# Indicates whether the produced XML messages should also be written
# as a file in the output directory
messagecreator.WriteOutputFiles=false

# Indicates whether the XML representation of a request should be
# written as a file.
messagecreator.XSLT.WriteIntermediateFiles=false


###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         fifservicebusresponseclient.log4j.appender.File.File
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (FIF ServiceBus Client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/fifservicebusresponseclient.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The name (including relative of absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${fifservicebusresponseclient.log4j.appender.File.File}


#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=50MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n


#####################
# DATABASE SETTINGS #
#####################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         fifservicebusresponseclient.db.ccmdb.Driver
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Class name
#DefaultValue:      -
#ExampleValue:      oracle.jdbc.driver.OracleDriver
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The name of the JDBC database driver to use.
#END PARAMETER
db.ccmdb.Driver=${fifservicebusresponseclient.db.ccmdb.Driver}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.db.ccmdb.ConnectString
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Fully qualified URL for JDBC
#DefaultValue:      -
#ExampleValue:      jdbc:oracle:thin:@hpdbvb01:1535:ccmdev
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The connection string to use to connect to the database containing the SLS FIF_REQUEST table.
#Description:       (Format: jdbc:oracle:thin:@hostname:port:dbname)
#END PARAMETER
db.ccmdb.ConnectString=${fifservicebusresponseclient.db.ccmdb.ConnectString}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.db.ccmdb.User
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       All users of database.
#DefaultValue:      -
#ExampleValue:      ccm_user
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The user name to use to connect to the database containing the SLS FIF_REQUEST table.
#END PARAMETER
db.ccmdb.User=${fifservicebusresponseclient.db.ccmdb.User}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.db.ccmdb.Password
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Valid password.
#DefaultValue:      -
#ExampleValue:      ernirnlihlrieppg
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The ecnrypted password to use to connect to the database (encrypted in CCB format).
#END PARAMETER
db.ccmdb.Password=${fifservicebusresponseclient.db.ccmdb.Password}

#START PARAMETER
#Parameter:         fifservicebusresponseclient.db.ccmdb.EncryptionKey
#ValidFrom:         FIF-API-27
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Encryption key used to encrypt the password.
#DefaultValue:      -
#ExampleValue:      pshsodoehseffjlhsohedqfpnpfssmpleggfqpprnlhjhess
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     30.07.08
#Last_Modified_By   schwarje
#Description:       The encryption key that was used to encrypt the database password.
#END PARAMETER
db.ccmdb.EncryptionKey=${fifservicebusresponseclient.db.ccmdb.EncryptionKey}


#---------------------#
# Constant parameters #
#---------------------#

# The list of database aliases that are being used by the application
# An alias maps to a specific set of database configuration settings
# The DatabaseClient only needs one database alias and this alias should
# be called ccmdb
db.aliases=ccmdb

# The maximum number of minutes that a connection can remain active (in minutes)
db.ccmdb.MaximumConnectionLifeTime=240

# The minimum number of open connections in the pool
db.ccmdb.MinimumConnectionCount=0

# The maximum number of open connections in the pool
db.ccmdb.MaximumConnectionCount=15

# The number of minutes to wait between connection cleanup runs
db.ccmdb.HouseKeepingSleepTime=1

# indicates that this client is using a ServerHandler pool instead of a single ServerHandler per RequestHandler
# used only for ServiceBus clients
SynchronousFifClient.UseServerHandlerPool=true

# number of request handlers (threads processing reuqests in the backend), 
# has to be at least as high as the number of concurrent consumers in the mcf2 configuration
# and at least as high as the number of configured backend processes
SynchronousFifClient.NumberOfRequestHandlers=${fifservicebusresponseclient.listener.concurrentConsumers}

##################
# SQL STATEMENTS #
##################

# Statement for inserting a service bus request into the database configured above 
servicebusclient.RequestLogging.InsertRequest.Statement=\
   insert into service_bus_request (transaction_id, package_name, service_name, service_bus_client_name, \
          environment_name, request_type, synchronous_indicator, status, error_code, error_text, \
          recycle_stage, recycle_delay, event_due_date, external_system_id, start_date, end_date, \
          audit_update_date_time) \
   values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, sysdate)

# The indexes of the database fields for storing the service bus request
servicebusclient.RequestLogging.InsertRequest.IndexTransactionID=1
servicebusclient.RequestLogging.InsertRequest.IndexPackageName=2
servicebusclient.RequestLogging.InsertRequest.IndexServiceName=3
servicebusclient.RequestLogging.InsertRequest.IndexServiceBusClientName=4
servicebusclient.RequestLogging.InsertRequest.IndexEnvironmentName=5
servicebusclient.RequestLogging.InsertRequest.IndexRequestType=6
servicebusclient.RequestLogging.InsertRequest.IndexSynchronousIndicator=7
servicebusclient.RequestLogging.InsertRequest.IndexStatus=8
servicebusclient.RequestLogging.InsertRequest.IndexErrorCode=9   
servicebusclient.RequestLogging.InsertRequest.IndexErrorText=10
servicebusclient.RequestLogging.InsertRequest.IndexRecycleStage=11
servicebusclient.RequestLogging.InsertRequest.IndexRecycleDelay=12
servicebusclient.RequestLogging.InsertRequest.IndexEventDueDate=13
servicebusclient.RequestLogging.InsertRequest.IndexExternalSystemId=14
servicebusclient.RequestLogging.InsertRequest.IndexStartDate=15
servicebusclient.RequestLogging.InsertRequest.IndexEndDate=16
   
# Statement for inserting a service bus request parameter into the database configured above 
servicebusclient.RequestLogging.InsertRequestParam.Statement=\
   insert into service_bus_request_param (transaction_id, request_type, param, value, LONG_VALUE) \
   values (?, ?, ?, ?, ?)   
   
# The indexes of the database fields for storing the service bus request parameter
servicebusclient.RequestLogging.InsertRequestParam.IndexTransactionID=1
servicebusclient.RequestLogging.InsertRequestParam.IndexRequestType=2
servicebusclient.RequestLogging.InsertRequestParam.IndexParam=3
servicebusclient.RequestLogging.InsertRequestParam.IndexValue=4
servicebusclient.RequestLogging.InsertRequestParam.IndexClob=5
   
# Statement for inserting a service bus request parameter list into the database configured above 
servicebusclient.RequestLogging.InsertRequestParamList.Statement=\
   insert into service_bus_request_param_list (transaction_id, request_type, param_list, param, value, list_item_number) \
   values (?, ?, ?, ?, ?, ?)
   
# The indexes of the database fields for storing the service bus request parameter list
servicebusclient.RequestLogging.InsertRequestParamList.IndexTransactionID=1
servicebusclient.RequestLogging.InsertRequestParamList.IndexRequestType=2   
servicebusclient.RequestLogging.InsertRequestParamList.IndexParamList=3
servicebusclient.RequestLogging.InsertRequestParamList.IndexParam=4
servicebusclient.RequestLogging.InsertRequestParamList.IndexValue=5
servicebusclient.RequestLogging.InsertRequestParamList.IndexListItemNumber=6
   
# Statement for inserting a service bus request result parameter into the database configured above 
servicebusclient.RequestLogging.InsertRequestResult.Statement=\
   insert into service_bus_request_result (transaction_id, request_type, return_param, return_value) \
   values (?, ?, ?, ?)
   
# The indexes of the database fields for storing the service bus request result parameter
servicebusclient.RequestLogging.InsertRequestResult.IndexTransactionID=1
servicebusclient.RequestLogging.InsertRequestResult.IndexRequestType=2
servicebusclient.RequestLogging.InsertRequestResult.IndexParam=3
servicebusclient.RequestLogging.InsertRequestResult.IndexValue=4
   

# Statement for inserting a service bus request into the database configured above 
servicebusclient.RequestLogging.UpdateRequest.Statement=\
   update service_bus_request \
   set audit_update_date_time = sysdate, status = ?, error_code = ?, error_text = ?, \
       recycle_stage = ?, recycle_delay = ?, start_date = ?, end_date = ?\
   where transaction_id = ? \
   and request_type = ?

# The indexes of the database fields for storing the service bus request
servicebusclient.RequestLogging.UpdateRequest.IndexStatus=1
servicebusclient.RequestLogging.UpdateRequest.IndexErrorCode=2
servicebusclient.RequestLogging.UpdateRequest.IndexErrorText=3
servicebusclient.RequestLogging.UpdateRequest.IndexRecycleStage=4
servicebusclient.RequestLogging.UpdateRequest.IndexRecycleDelay=5
servicebusclient.RequestLogging.UpdateRequest.IndexStartDate=6
servicebusclient.RequestLogging.UpdateRequest.IndexEndDate=7
servicebusclient.RequestLogging.UpdateRequest.IndexTransactionID=8   
servicebusclient.RequestLogging.UpdateRequest.IndexRequestType=9

# Statement for inserting a service bus request into the database configured above 
servicebusclient.RequestLogging.RetrieveRequest.Statement=\
   select package_name, service_name, synchronous_indicator, status, recycle_stage, \
   recycle_delay, start_date, end_date, external_system_id \
   from service_bus_request \
   where transaction_id = ? \
   and request_type = ?

# The indexes of the database fields for storing the service bus request
servicebusclient.RequestLogging.RetrieveRequest.IndexTransactionID=1
servicebusclient.RequestLogging.RetrieveRequest.IndexRequestType=2

servicebusclient.RequestLogging.RetrieveRequest.IndexPackageName=1
servicebusclient.RequestLogging.RetrieveRequest.IndexServiceName=2
servicebusclient.RequestLogging.RetrieveRequest.IndexSynchronousIndicator=3
servicebusclient.RequestLogging.RetrieveRequest.IndexStatus=4
servicebusclient.RequestLogging.RetrieveRequest.IndexRecycleStage=5
servicebusclient.RequestLogging.RetrieveRequest.IndexRecycleDelay=6
servicebusclient.RequestLogging.RetrieveRequest.IndexStartDate=7
servicebusclient.RequestLogging.RetrieveRequest.IndexEndDate=8
servicebusclient.RequestLogging.RetrieveRequest.IndexExternalSystemId=9

# Statement for inserting a service bus request into the database configured above 
servicebusclient.RequestLogging.RetrieveRequestParams.Statement=\
   select param, value, long_value \
   from service_bus_request_param \
   where transaction_id = ? \
   and request_type = ?
# The indexes of the database fields for storing the service bus request
servicebusclient.RequestLogging.RetrieveRequestParams.IndexTransactionID=1
servicebusclient.RequestLogging.RetrieveRequestParams.IndexRequestType=2
servicebusclient.RequestLogging.RetrieveRequestParams.IndexParam=1
servicebusclient.RequestLogging.RetrieveRequestParams.IndexValue=2
servicebusclient.RequestLogging.RetrieveRequestParams.IndexLongValue=3
