# START HEADER
#  File:                $Workfile:   ImportModifyAccountCSV.properties.template  $
#  Author:              $Author:   naveen.k  $
#  Revision:            $Revision:   1.8  $
#  Purpose:             Configuration file for importing modifyAccount requests from a CSV file to the FIF_REQUEST table.
#  Operating System:    UNIX
#  Last Change:         $Date:   Nov 10 2017 15:01:38  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportModifyAccountCSV.properties.template-arc  $
#
#   Rev 1.8   Nov 10 2017 15:01:38   naveen.k
#SPN-FIF-000134385:Added NO_ARC_INDICATOR to CSV
#
#   Rev 1.7   May 07 2014 16:19:06   banania
#SEPA Params added.
#
#   Rev 1.6   Aug 11 2011 17:01:48   makuier
#Console added to log4j.
#
#   Rev 1.5   Nov 23 2010 17:10:50   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.4   Oct 13 2010 14:08:40   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.3   Feb 07 2008 11:26:44   schwarje
#SPN-FIF-000065717: removed Console logging
#
#   Rev 1.2   Sep 26 2006 14:15:06   wlazlow
#IT-k-16359
#
#   Rev 1.1   Jan 10 2005 11:42:52   banania
#Optional params added
#
#   Rev 1.0   Dec 15 2004 13:00:32   banania
#Initial revision.
#
#
#

#
# END HEADER

####################
# GENERAL SETTINGS #
####################

# The names of columns that are mandatory in the CSV
ImportCSVToDB.ColumnNames.Mandatory=ACCOUNT_NUMBER

# The names of columns that are optional in the CSV
ImportCSVToDB.ColumnNames.Optional=CUSTOMER_NUMBER,BANK_ACCOUNT_NUMBER,BANK_CLEARING_CODE,OWNER_FULL_NAME,EFFECTIVE_DATE,MAILING_ID,DOC_TEMPLATE_NAME,METHOD_OF_PAYMENT,MANUAL_SUSPEND_IND,LANGUAGE_RD,CURRENCY_RD,CYCLE_NAME,PAYMENT_TERM_RD,ZERO_CHARGE_IND,USAGE_LIMIT,CUSTOMER_ACCOUNT_ID,OUTPUT_DEVICE_RD,DIRECT_DEBIT_AUTHORIZ_DATE,TAX_EXEMPT_INDICATOR,SALES_TAX_ID,TAX_IDENTIFICATION_NUMBER,CREATE_CONTACT,CONTACT_TYPE_RD,SHORT_DESCRIPTION,LONG_DESCRIPTION_TEXT,AUTO_SELECT_PAYMENT_METHOD,STATE_RD,NO_ARC_INDICATOR,BANK_ACCOUNT_ID,BANK_IDENTIFIER_CODE,INTERNAT_BANK_ACCOUNT_NUMBER,BANK_NAME,MANDATE_REFERENCE_ID,MANDATE_SIGNATURE_DATE,MANDATE_STATUS


##################
# SQL STATEMENTS #
##################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importmodifyaccountcsv.targetClient
#ValidFrom:         FIF-API-08.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Name of database target client
#DefaultValue:      -
#ExampleValue:      SLS
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     14.12.04
#Last_Modified_By   banania
#Description:       The name of the target client to insert requests for (e.g. SLS, WRF)
#END PARAMETER
# The SQL statement for inserting requests in the database
ImportCSVToDB.InsertRequestStmt=INSERT INTO FIF_REQUEST (TRANSACTION_ID, TARGET_CLIENT, STATUS, ACTION_NAME, ERROR_TEXT, DUE_DATE, PRIORITY, CREATION_DATE, START_DATE, END_DATE) VALUES (?, '${slsfif.importmodifyaccountcsv.targetClient}', 'NOT_STARTED', 'modifyAccount', '', SYSDATE, 5, SYSDATE, NULL, NULL)

#---------------------#
# Constant parameters #
#---------------------#

# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamStmt=INSERT INTO FIF_REQUEST_PARAM (TRANSACTION_ID, PARAM, VALUE) VALUES (?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamStmt.ParamNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamStmt.ParamValueFieldIndex=3

# The name of the external system id
ImportCSVToDB.insertExternalSystemIdName=ACCOUNT_NUMBER

# The SQL statement for updating the request external system id
ImportCSVToDB.UpdatexternalSystemIdStatement=UPDATE FIF_REQUEST SET EXTERNAL_SYSTEM_ID = ? WHERE TRANSACTION_ID=?

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importmodifyaccountcsv.log4j.appender.File.File
#ValidFrom:         FIF-API-08.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/ImportModifyAccountCSV.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     14.12.04
#Last_Modified_By   banania
#Description:       The name (including relative or absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${slsfif.importmodifyaccountcsv.log4j.appender.File.File}


#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n
