# START HEADER
#  File:                $Workfile:   ImportMigrateAddressADS.properties.template  $
#  Author:              $Author:   naveen.k  $
#  Revision:            $Revision:   1.3  $
#  Purpose:             Configuration file for the ImportCSVToDB application
#  Operating System:    UNIX
#  Last Change:         $Date:   Oct 31 2017 15:38:00  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportMigrateAddressADS.properties.template-arc  $
#
#   Rev 1.3   Oct 31 2017 15:38:00   naveen.k
#Fixed SPN-FIF-000134350, removed dummy character
# 
#
#   Rev 1.2   Apr 17 2017 16:33:38   naveen.k
#SPN-FIF-000133693, Modified the configurations
#
#   Rev 1.1   Feb 23 2017 18:38:06   naveen.k
#Removed Headers


#Rev 1.0   Feb 08 2017  naveen
#Initial revision
#
# END HEADER
####################
# GENERAL SETTINGS #
####################

# The names of columns that are mandatory in the CSV  

ImportCSVToDB.ColumnNames.Mandatory=neue_Adress-ID,CCB_Address-ID,CCB_effDate

# The names of columns that are optional in the CSV

ImportCSVToDB.ColumnNames.Optional=old_Adress-ID,Landerkennung,PLZ-Art,PLZ,Ortsname,Ortszusatz,Ortsteil,Strassenname,Hausnr.,Hausnr.-Zusatz,Postfachnr,KGS,Systemcode,Franchisecode,Management_Area,bestatigt

ImportCSVToDB.ColumnNames.convertToUpperCase=false

ImportCSVToDB.IgnoreFirstLine=false

ImportCSVToDB.DesiredSeparator=|

ImportCSVToDB.DesiredColumnNames=old_Adress-ID|Landerkennung|PLZ-Art|PLZ|Ortsname|Ortszusatz|Ortsteil|Strassenname|Hausnr.|Hausnr.-Zusatz|Postfachnr|KGS|Systemcode|Franchisecode|Management_Area|bestatigt|neue_Adress-ID|CCB_Address-ID|CCB_effDate

##################
# SQL STATEMENTS #
##################

# The SQL statement for inserting requests in the database

ImportCSVToDB.InsertRequestStmt=INSERT INTO FIF_REQUEST (TRANSACTION_ID, TARGET_CLIENT, STATUS, ACTION_NAME, ERROR_TEXT, DUE_DATE, PRIORITY, CREATION_DATE, START_DATE, END_DATE) VALUES (?, '${slsfif.ImportMigrateAddressADS.targetClient}', 'NOT_STARTED', 'migrateAddressADS', '', SYSDATE, 5, SYSDATE, NULL, NULL)

# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamStmt=INSERT INTO FIF_REQUEST_PARAM (TRANSACTION_ID, PARAM, VALUE) VALUES (?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamStmt.ParamNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamStmt.ParamValueFieldIndex=3

# The name of the external system id
ImportCSVToDB.insertExternalSystemIdName=CCB_Address-ID

# The SQL statement for updating the request external system id
ImportCSVToDB.UpdatexternalSystemIdStatement=UPDATE FIF_REQUEST SET EXTERNAL_SYSTEM_ID = ? WHERE TRANSACTION_ID=?

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importMigrateAddressADS.log4j.appender.File.File
#ValidFrom:         FIF-API-57.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ../LOG/ImportAccessNumberPortingCSV.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     17.04.17
#Last_Modified_By   naveen
#Description:       The name (including relative or absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${slsfif.ImportMigrateAddressADS.log4j.appender.File.File}

#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=DEBUG, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

