# START HEADER
#  File:                $Workfile:   ImportChangeCustomerCSV.properties.template  $
#  Author:              $Author:   makuier  $
#  Revision:            $Revision:   1.11  $
#  Purpose:             Configuration file for importing ChangeCustomer requests from a CSV file to the FIF_REQUEST table.
#  Operating System:    UNIX
#  Last Change:         $Date:   Aug 11 2011 17:15:42  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportChangeCustomerCSV.properties.template-arc  $
#
#   Rev 1.11   Aug 11 2011 17:15:42   makuier
#Console added to log4j.
#
#   Rev 1.10   Nov 23 2010 17:10:42   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.9   Oct 13 2010 14:08:44   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.8   Feb 07 2008 11:26:22   schwarje
#SPN-FIF-000065717: removed Console logging
#
#   Rev 1.7   Nov 14 2007 11:54:46   schwarje
#IT-19315: added marketing indicators
#
#   Rev 1.6   Oct 21 2005 16:07:16   banania
#Removed "tax_exempt_indicator" & "tax_identification_number".
#SPN-CCB-000033690.
#
#   Rev 1.5   Apr 27 2005 11:20:26   banania
#IT-12882 .
#READ_ONLY added.
#
#
#   Rev 1.4   Jan 14 2005 13:41:32   schwarje
#SPN-FIF-000028006 updated
#
#   Rev 1.3   Dec 21 2004 16:34:18   IARIZOVA
#added parameter category_rd
#
#   Rev 1.2   Dec 10 2004 14:50:40   IARIZOVA
#IT-k-000013434: added parameters SECURITY_CUSTOMER_GROUP_STRING, REGION_RD, ENCRYPTION_KEY, INVOICE_CURRENCY_RD, CYCLE_NAME to the transaction ChangeCustomer
#
#   Rev 1.1   Oct 15 2004 11:29:16   goethalo
#SPN-FIF-000026136: Made the target client a templated parameter.
#
#   Rev 1.0   May 18 2004 13:50:54   schwarje
#Initial revision.
#
# END HEADER

####################
# GENERAL SETTINGS #
####################

# The names of columns that are mandatory in the CSV
ImportCSVToDB.ColumnNames.Mandatory=CUSTOMER_NUMBER

# The names of columns that are optional in the CSV
ImportCSVToDB.ColumnNames.Optional=EFFECTIVE_DATE, MASKING_DIGITS_RD, RETENTION_PERIOD_RD, PAYMENT_TERM_RD, USER_PASSWORD, USAGE_LIMIT_AMOUNT, RISK_CATEGORY_RD, DOCUMENT_LANGUAGE_RD, CLASSIFICATION_RD, CUSTOMER_GROUP_RD, CUSTOMER_INTERNAL_REF_NUMBER, PAYMENT_METHOD_RD, MATCH_CODE_ID, CREDIT_CHECK_RESULT_STATE_RD, CREDIT_CHECK_RESULT_INDICATOR, PROSPECT_INDICATOR, REFERENCE_INDICATOR, SERVICE_CUSTOMER_INDICATOR, USAGE_DATA_INDICATOR, SERVICE_LEVEL_RD, SECURITY_CUSTOMER_GROUP_STRING, REGION_RD, ENCRYPTION_KEY, INVOICE_CURRENCY_RD, CYCLE_NAME, CATEGORY_RD, SUPPRESS_ARCHIVING_INDICATOR, READ_ONLY, STORAGE_MASKING_DIGITS_RD, POST_IDENT_INDICATOR, MARKETING_PHONE_INDICATOR, MARKETING_MAIL_INDICATOR, MARKETING_FAX_INDICATOR, MARKETING_COOP_INDICATOR, MARKETING_USE_DATA_INDICATOR, MARKETING_AUTHORIZATION_DATE

##################
# SQL STATEMENTS #
##################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importchangecustomercsv.targetClient
#ValidFrom:         FIF-API-07.01.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Name of database target client
#DefaultValue:      -
#ExampleValue:      SLS
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     14.01.05
#Last_Modified_By   schwarje
#Description:       The name of the target client to insert requests for (e.g. SLS, WRF)
#END PARAMETER
# The SQL statement for inserting requests in the database
ImportCSVToDB.InsertRequestStmt=INSERT INTO FIF_REQUEST (TRANSACTION_ID, TARGET_CLIENT, STATUS, ACTION_NAME, ERROR_TEXT, DUE_DATE, PRIORITY, CREATION_DATE, START_DATE, END_DATE) VALUES (?, '${slsfif.importchangecustomercsv.targetClient}', 'NOT_STARTED', 'changeCustomer', '', SYSDATE, 5, SYSDATE, NULL, NULL)

#---------------------#
# Constant parameters #
#---------------------#

# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamStmt=INSERT INTO FIF_REQUEST_PARAM (TRANSACTION_ID, PARAM, VALUE) VALUES (?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamStmt.ParamNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamStmt.ParamValueFieldIndex=3


# The name of the external system id
ImportCSVToDB.insertExternalSystemIdName=CUSTOMER_NUMBER

# The SQL statement for updating the request external system id
ImportCSVToDB.UpdatexternalSystemIdStatement=UPDATE FIF_REQUEST SET EXTERNAL_SYSTEM_ID = ? WHERE TRANSACTION_ID=?

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importchangecustomercsv.log4j.appender.File.File
#ValidFrom:         FIF-API-06.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/ImportChangeCustomerCSV.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     18.05.04
#Last_Modified_By   schwarje
#Description:       The name (including relative or absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${slsfif.importchangecustomercsv.log4j.appender.File.File}


#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n
