                         ###############################################################################
#
# Configuration file for: ImportVdslSpeedupMigrationCSV
#
# $Author:   punya  $
# $Revision:   1.1  $
#
# HISTORY: $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportVdslSpeedupMigrationCSV.properties.template-arc  $
#
#   Rev 1.1   Dec 11 2018 09:57:22   punya
#IT-K 34236 vdslSpeedupMigration
#
#
#   Rev 1.0   Dec 10 2018 11:11:36   Rusbe
#Initial revision.
#
#
###############################################################################


##################
# SQL STATEMENTS #
##################

# action name used in metadata for this SOM import
ImportSOMOrdersToDB.ActionName=vdslSpeedup

#used only by production to reference migration type
ImportSOMOrdersToDB.migrationType=PPM320097

# The SQL statement for inserting requests in the database
ImportSOMOrdersToDB.Statement=\
fif_sls_user.som_mass_migration_sls.vdslSpeedup( \
	i_migrationID => ?, \
	i_bundleID => ?, \
	i_desiredDate => ?, \
	i_currentAccessType => ?, \
	i_targetAccessTechnology => ?, \
	i_targetBandwidth => ?, \
	i_internetTariff => ?, \
	i_voiceTariff => ?, \
	i_tvTariff => ?, \
	i_removeConditions => ?, \
	i_conditionType1 => ?, \
	i_conditionName1 => ?, \
	i_conditionID1 => ?, \
	i_conditionStartDate1 => ?, \
	i_conditionType2 => ?, \
	i_conditionName2 => ?, \
	i_conditionID2 => ?, \
	i_conditionStartDate2 => ?, \
	i_conditionType3 => ?, \
	i_conditionName3 => ?, \
	i_conditionID3 => ?, \
	i_conditionStartDate3 => ?, \
	i_salesOrganisationNumber => ?, \
	i_salesOrganisationNumberVF => ?, \
	i_allowOpenTermination => ?, \
	i_allowOtherOpenOrders => ?)
 

# parameter names and types used in above statement
ImportSOMOrdersToDB.Statement.ParameterNames.1=migrationID
ImportSOMOrdersToDB.Statement.ParameterTypes.1=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.2=bundleID
ImportSOMOrdersToDB.Statement.ParameterTypes.2=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.3=desiredDate
ImportSOMOrdersToDB.Statement.ParameterTypes.3=DATE
ImportSOMOrdersToDB.Statement.ParameterNames.4=currentAccessType
ImportSOMOrdersToDB.Statement.ParameterTypes.4=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.5=targetAccessTechnology
ImportSOMOrdersToDB.Statement.ParameterTypes.5=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.6=targetBandwidth
ImportSOMOrdersToDB.Statement.ParameterTypes.6=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.7=internetTariff
ImportSOMOrdersToDB.Statement.ParameterTypes.7=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.8=voiceTariff
ImportSOMOrdersToDB.Statement.ParameterTypes.8=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.9=tvTariff
ImportSOMOrdersToDB.Statement.ParameterTypes.9=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.10=removeConditions
ImportSOMOrdersToDB.Statement.ParameterTypes.10=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.11=conditionType1
ImportSOMOrdersToDB.Statement.ParameterTypes.11=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.12=conditionName1
ImportSOMOrdersToDB.Statement.ParameterTypes.12=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.13=conditionID1
ImportSOMOrdersToDB.Statement.ParameterTypes.13=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.14=conditionStartDate1
ImportSOMOrdersToDB.Statement.ParameterTypes.14=DATE
ImportSOMOrdersToDB.Statement.ParameterNames.15=conditionType2
ImportSOMOrdersToDB.Statement.ParameterTypes.15=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.16=conditionName2
ImportSOMOrdersToDB.Statement.ParameterTypes.16=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.17=conditionID2
ImportSOMOrdersToDB.Statement.ParameterTypes.17=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.18=conditionStartDate2
ImportSOMOrdersToDB.Statement.ParameterTypes.18=DATE
ImportSOMOrdersToDB.Statement.ParameterNames.19=conditionType3
ImportSOMOrdersToDB.Statement.ParameterTypes.19=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.20=conditionName3
ImportSOMOrdersToDB.Statement.ParameterTypes.20=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.21=conditionID3
ImportSOMOrdersToDB.Statement.ParameterTypes.21=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.22=conditionStartDate3
ImportSOMOrdersToDB.Statement.ParameterTypes.22=DATE
ImportSOMOrdersToDB.Statement.ParameterNames.23=salesOrganisationNumber
ImportSOMOrdersToDB.Statement.ParameterTypes.23=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.24=salesOrganisationNumberVF
ImportSOMOrdersToDB.Statement.ParameterTypes.24=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.25=allowOpenTermination
ImportSOMOrdersToDB.Statement.ParameterTypes.25=VARCHAR
ImportSOMOrdersToDB.Statement.ParameterNames.26=allowOtherOpenOrders
ImportSOMOrdersToDB.Statement.ParameterTypes.26=VARCHAR



# regular expressions for parameter validations
messagecreator.ParameterValidator.bundleID=.{16}
messagecreator.ParameterValidator.salesOrganisationNumber=[0-9]{8}
messagecreator.ParameterValidator.allowOpenTermination=true|false
messagecreator.ParameterValidator.allowOtherOpenOrders=true|false
messagecreator.ParameterValidator.debugMode=true|false


###################
# LOGGER SETTINGS #
###################

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.File=${slsfif.importVdslSpeedCSV.log4j.appender.File.File}
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n


#############################
# MESSAGE CREATION SETTINGS #
#############################

#--- GENERAL MESSAGECREATOR SETTINGS --#

# The directory where the metadata file is stored
messagecreator.MetaDataDir=${slsfif.messagecreator.MetaDataDir}

# The name of the XML metadata file
messagecreator.MetaDataFile=somsls-mass-import-metadata.xml

#--- XSLT SETTINGS ---#

# The directory where the XSQL files are located
messagecreator.XSLT.Directory=${slsfif.messagecreator.XSLT.Directory}

# Indicates whether the XML representation of a request should be
# written as a file.
messagecreator.XSLT.WriteIntermediateFiles=false

# The directory to read the dtds from
messagecreator.DTDDir=./

# Indicates whether the use of reference data should be supported by the client.
messagecreator.EnableReferenceDataSupport=false


#####################
# DATABASE SETTINGS #
#####################

# The list of database aliases that are being used by the application
# An alias maps to a specific set of database configuration settings
# The DatabaseClient only needs one database alias and this alias should
# be called requestdb
db.aliases=requestdb

# The name of the database driver to use
db.requestdb.Driver=${slsfif.db.requestdb.Driver}

# The connection string to use to connect to the database
db.requestdb.ConnectString=${slsfif.db.requestdb.ConnectString}
							

# The user name to use to connect to the database
db.requestdb.User=${slsfif.db.requestdb.User}

# The password to use to connect to the database (encrypted in CCB format)
db.requestdb.Password=${slsfif.db.requestdb.Password}

# The encryption key that was used to encrypt the password
db.requestdb.EncryptionKey=${slsfif.db.requestdb.EncryptionKey}

# The maximum number of minutes that a connection can remain active (in minutes)
db.requestdb.MaximumConnectionLifeTime=240

# The minimum number of open connections in the pool
db.requestdb.MinimumConnectionCount=0

# The maximum number of open connections in the pool
db.requestdb.MaximumConnectionCount=${slsfif.db.requestdb.MaximumConnectionCount}

# The number of minutes to wait between connection cleanup runs
db.requestdb.HouseKeepingSleepTime=1


