# START HEADER
#  File:                $Workfile:   ImportModifyAddressCSV.properties.template  $
#  Author:              $Author:   makuier  $
#  Revision:            $Revision:   1.5  $
#  Purpose:             Configuration file for importing ImportModifyAddress requests from a CSV file to the FIF_REQUEST table.
#  Operating System:    UNIX
#  Last Change:         $Date:   Aug 11 2011 16:29:56  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportModifyAddressCSV.properties.template-arc  $
#
#   Rev 1.5   Aug 11 2011 16:29:56   makuier
#revoked the last change
#
#   Rev 1.3   Nov 23 2010 17:10:50   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.2   Oct 13 2010 14:08:40   banania
#SPN-CCB-000105323: New keys added:
#insertExternalSystemIdName
#UpdatexternalSystemIdStatement
#
#   Rev 1.1   Mar 29 2010 17:39:58   banania
#Minor change.
#
#   Rev 1.0   Mar 29 2010 17:34:00   banania
#Initial revision.
#
#Initial revision.
#
#
#
#
#
# END HEADER

####################
# GENERAL SETTINGS #
####################

# The names of columns that are mandatory in the CSV
ImportCSVToDB.ColumnNames.Mandatory=customerNumber,addressId,streetName,streetNumber,cityName,country,postalCode

# The names of columns that are optional in the CSV
ImportCSVToDB.ColumnNames.Optional=desiredDate,addAddressDesc,secondAddAddressDesc,streetNumberSuffix,citySuffixName

# Indicates, if the parameter names are converted to upper case
ImportCSVToDB.ColumnNames.convertToUpperCase=false


##################
# SQL STATEMENTS #
##################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importModifyAddresscsv.targetClient
#ValidFrom:         FIF-API-34.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Name of database target client
#DefaultValue:      -
#ExampleValue:      SLS
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     24.03.2010
#Last_Modified_By   banania
#Description:       The name of the target client to insert requests for (e.g. SLS, WRF)
#END PARAMETER
# The SQL statement for inserting requests in the database
ImportCSVToDB.InsertRequestStmt=INSERT INTO FIF_REQUEST (TRANSACTION_ID, TARGET_CLIENT, STATUS, ACTION_NAME, ERROR_TEXT, DUE_DATE, PRIORITY, CREATION_DATE, START_DATE, END_DATE) VALUES (?, '${slsfif.importModifyAddresscsv.targetClient}', 'ON_HOLD', 'modifyAddress', '', SYSDATE, 5, SYSDATE, NULL, NULL)

#---------------------#
# Constant parameters #
#---------------------#

# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamStmt=INSERT INTO FIF_REQUEST_PARAM (TRANSACTION_ID, PARAM, VALUE) VALUES (?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamStmt.ParamNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamStmt.ParamValueFieldIndex=3

# The name of the external system id
ImportCSVToDB.insertExternalSystemIdName=customerNumber

# The SQL statement for updating the request external system id
ImportCSVToDB.UpdatexternalSystemIdStatement=UPDATE FIF_REQUEST SET EXTERNAL_SYSTEM_ID = ? WHERE TRANSACTION_ID=?

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importAccessNumbercsv.log4j.appender.File.File
#ValidFrom:         FIF-API-34.00.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/ImportModifyAddressCSV.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     24.03.2010
#Last_Modified_By   banania
#Description:       The name (including relative or absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${slsfif.importModifyAddresscsv.log4j.appender.File.File}


#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n
