# START HEADER
#  File:                $Workfile:   ImportCreateNGNLineContractCSV.properties.template  $
#  Author:              $Author:   wlazlow  $
#  Revision:            $Revision:   1.2  $
#  Purpose:             Configuration file for importing createNGNLineContract requests from a CSV file to the FIF_REQUEST table.
#  Operating System:    UNIX
#  Last Change:         $ $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/ImportCreateNGNLineContractCSV.properties.template-arc  $
#
#   Rev 1.2   Feb 01 2012 10:59:28   wlazlow
#SPN-FIF-000118328,Handling of the following nodes added: contactRole, skeletonContract, serviceDeliveryContract
#
#   Rev 1.1   Jan 04 2012 17:22:00   wlazlow
#SPN-FIF-000117309
#
#   Rev 1.0   Dec 05 2011 19:25:08   wlazlow
#Initial revision.
#
#
# END HEADER






####################
# GENERAL SETTINGS #
####################

# Indicates, if the parameter names are converted to upper case
ImportCSVToDB.ColumnNames.convertToUpperCase=false
                                  


# The names of columns that are mandatory in the CSV
ImportCSVToDB.ColumnNames.Mandatory=desiredDate,salesOrganisationNumber,customer,billingAccount,orderID,ACCESS_NAME_01,ACCESS_CONFIG_01,FUNCTION_NAME_01,FUNCTION_CONFIG_01,FUNCTION_NAME_02,FUNCTION_CONFIG_02    

# The names of columns that are optional in the CSV
ImportCSVToDB.ColumnNames.Optional=contactRole,skeletonContract,serviceDeliveryContract,FUNCTION_NAME_03,FUNCTION_CONFIG_03,FUNCTION_NAME_04,FUNCTION_CONFIG_04,FUNCTION_NAME_05,FUNCTION_CONFIG_05,FUNCTION_NAME_06,FUNCTION_CONFIG_06,FUNCTION_NAME_07,FUNCTION_CONFIG_07,FUNCTION_NAME_08,FUNCTION_CONFIG_08,FUNCTION_NAME_09,FUNCTION_CONFIG_09,FUNCTION_NAME_10,FUNCTION_CONFIG_10

# The names of List columns that are optional in the CSV
ImportCSVToDB.ListNames.Optional=ACCESS_LIST_01$PARAM_NAME,ACCESS_LIST_01$PARAM_VALUE,FUNCTION_LIST_01$PARAM_NAME,FUNCTION_LIST_01$PARAM_VALUE,FUNCTION_LIST_02$PARAM_NAME,FUNCTION_LIST_02$PARAM_VALUE,FUNCTION_LIST_03$PARAM_NAME,FUNCTION_LIST_03$PARAM_VALUE,FUNCTION_LIST_04$PARAM_NAME,FUNCTION_LIST_04$PARAM_VALUE,FUNCTION_LIST_05$PARAM_NAME,FUNCTION_LIST_05$PARAM_VALUE,FUNCTION_LIST_06$PARAM_NAME,FUNCTION_LIST_06$PARAM_VALUE,FUNCTION_LIST_07$PARAM_NAME,FUNCTION_LIST_07$PARAM_VALUE,FUNCTION_LIST_08$PARAM_NAME,FUNCTION_LIST_08$PARAM_VALUE,FUNCTION_LIST_09$PARAM_NAME,FUNCTION_LIST_09$PARAM_VALUE,FUNCTION_LIST_10$PARAM_NAME,FUNCTION_LIST_10$PARAM_VALUE 

##################
# SQL STATEMENTS #
##################


#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importcreateNGNLineContractcsv.targetClient
#ValidFrom:         FIF-API-07.01.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Name of database target client
#DefaultValue:      -
#ExampleValue:      SLS
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     22.11.04
#Last_Modified_By   goethalo
#Description:       The name of the target client to insert requests for (e.g. SLS, WRF)
#END PARAMETER
# The SQL statement for inserting requests in the database
ImportCSVToDB.InsertRequestStmt=INSERT INTO FIF_REQUEST (TRANSACTION_ID, TARGET_CLIENT, STATUS, ACTION_NAME, ERROR_TEXT, DUE_DATE, PRIORITY, CREATION_DATE, START_DATE, END_DATE) VALUES (?, '${slsfif.importcreateNGNLineContractcsv.targetClient}', 'ON_HOLD', 'createNGNLineContract', '', SYSDATE, 5, SYSDATE, NULL, NULL)


#---------------------#
# Constant parameters #
#---------------------#

# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamStmt=INSERT INTO FIF_REQUEST_PARAM (TRANSACTION_ID, PARAM, VALUE) VALUES (?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamStmt.ParamNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamStmt.ParamValueFieldIndex=3



# The SQL statement for inserting request parameters in the database
ImportCSVToDB.InsertParamListStmt=INSERT INTO FIF_REQUEST_PARAM_LIST (TRANSACTION_ID, PARAM_LIST, PARAM, VALUE, LIST_ITEM_NUMBER) VALUES (?, ?, ?, ?, ?)

# The name of the database field representing the transaction ID for a request
ImportCSVToDB.InsertParamListStmt.TransactionIDFieldIndex=1

# The name of the database field representing the parameter name for a request
ImportCSVToDB.InsertParamListStmt.ParamListNameFieldIndex=2

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamListStmt.ParamFieldIndex=3

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamListStmt.ParamValueFieldIndex=4

# The name of the database field representing the parameter value for a request
ImportCSVToDB.InsertParamListStmt.ListItemNumberFieldIndex=5


ImportCSVToDB.UpdatexternalSystemIdStatement=

###################
# LOGGER SETTINGS #
###################

#----------------------#
# Templated parameters #
#----------------------#

#START PARAMETER
#Parameter:         slsfif.importcreateNGNLineContractcsv.log4j.appender.File.File
#ValidFrom:         FIF-API-07.01.00
#ValidTo:           open
#Components:        FIF-API (SLS-FIF database client)
#ParameterType:     STRING
#ValidValues:       Path + Filename
#DefaultValue:      -
#ExampleValue:      ./log/ImportcreateNGNLineContractcsv.log
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     22.11.04
#Last_Modified_By   goethalo
#Description:       The name (including relative or absolute path) of the log file to write to.
#END PARAMETER
log4j.appender.File.File=${slsfif.importcreateNGNLineContractcsv.log4j.appender.File.File}





#---------------------#
# Constant parameters #
#---------------------#

#
# The FIF Message Creator uses the Apache log4j framework for logging.
# The following entries configure log4j.
# Please refer to http://jakarta.apache.org/log4j/docs/index.html for
# detailed instructions.
#
# The log file name is specified in the log4j.appender.File.File key.
#

# Definition of the logging level and the appenders
log4j.rootLogger=INFO, Console, File

# Console Appender configuration
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d | %-5p | [%t] | %m%n

# File Appender configuration
log4j.appender.File=net.arcor.fif.common.DatedRollingFileAppender
log4j.appender.File.Append=true
log4j.appender.File.MaxFileSize=1MB
log4j.appender.File.DateFormat=.yyyy.MM.dd.HH.mm.ss
log4j.appender.File.layout=org.apache.log4j.PatternLayout
log4j.appender.File.layout.ConversionPattern=%d | %-5p | [%t] | %m%n
