<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
                HEADER       : $Header:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/mcf-comservice.xml.template-arc   1.0   Feb 11 2010 11:15:04   schwarje  $
                REVISION     : $Revision:   1.0  $
                MODULENAME   : $Workfile:   mcf-comservice.xml.template  $
                PROJECT      : CcmTestFramework
                AUTHOR       : schwarje
               
                DESCRIPTION  : 
                TABLES       : 
                
                HISTORY      : $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/mcf-comservice.xml.template-arc  $
#
#   Rev 1.0   Feb 11 2010 11:15:04   schwarje
#Initial revision.
  
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<!--
##################
# QUEUE SETTINGS #
##################

#----------------------#
# Templated parameters #
#----------------------#

# Queue Manager settings

#START PARAMETER
#Parameter:         testframework.transport.QueueManagerName
#ValidFrom:         FIF_API-34
#ValidTo:           open
#Components:        CcmTestFramework
#ParameterType:     STRING
#ValidValues:       A valid queue manager name
#DefaultValue:      -
#ExampleValue:      CCBSVR2E
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     11.02.2010
#Last_Modified_By   schwarje
#Description:       The name of the queue manager to connect to for requests from CcmTestFramework.
#END PARAMETER


#START PARAMETER
#Parameter:         testframework.transport.QueueManagerHostName
#ValidFrom:         FIF_API-34
#ValidTo:           open
#Components:        CcmTestFramework
#ParameterType:     STRING
#ValidValues:       A valid queue manager host name
#DefaultValue:      -
#ExampleValue:      hp64d01
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     11.02.2010
#Last_Modified_By   schwarje
#Description:       The name of the queue manager to connect to for requests from CcmTestFramework.
#END PARAMETER


#START PARAMETER
#Parameter:         testframework.transport.QueueManagerPortNumber
#ValidFrom:         FIF_API-34
#ValidTo:           open
#Components:        CcmTestFramework
#ParameterType:     STRING
#ValidValues:       A valid queue manager port number
#DefaultValue:      -
#ExampleValue:      5012
#RecomnendedVal.:   -
#Optional:          N
#Last_Modified:     11.02.2010
#Last_Modified_By   schwarje
#Description:       The name of the queue manager to connect to for requests from CcmTestFramework.
#END PARAMETER
-->

        <bean id="syncRequestQueueHandler" class="net.arcor.mcf.jms.QueueHandler"
            init-method="init">
            <property name="connectionFactory"  ref="connectionFactory" />
            <property name="inQueue"            ref="inQueue"/>
            <property name="outQueue"           ref="outQueue"/>
            <property name="serviceMap"    ref="serviceRegistryXml" />
            <property name="propertyMap">
                <map>
                    <entry key="JMSPriority" value="4" />
                    <entry key="JMSReplyTo" value="queue://${testframework.transport.QueueManagerName}/AAW.CCM.SBUSOUT" />
                    <entry key="SBUS_EventTo" value="FIF" />
                </map>
            </property>
            <property name="xmlProcessor"     ref="xmlProcessor"/>
        </bean>

        <bean id="asyncRequestQueueHandler" class="net.arcor.mcf.jms.QueueHandler"
            init-method="init">
            <property name="connectionFactory"  ref="connectionFactory" />
            <property name="inQueue"            ref="inQueue"/>
            <property name="outQueue"           ref="outQueue"/>
            <property name="serviceMap"    ref="serviceRegistryXml" />
            <property name="propertyMap">
                <map>
                    <entry key="JMSPriority" value="4" />
                    <entry key="JMSReplyTo" value="queue://${testframework.transport.QueueManagerName}/AAW.CCM.SBUSOUT" />
                    <entry key="SBUS_EventTo" value="FIF" />
                </map>
            </property>
            <property name="xmlProcessor"     ref="xmlProcessor"/>
        </bean>

        <bean id="xmlProcessor" class="net.arcor.mcf.xml.PassThruXmlProcessor">
            <property name="parsing"   value="true"/>
        </bean>

        <bean id="connectionFactory" class="com.ibm.mq.jms.MQQueueConnectionFactory">
           <property name="transportType" value="1" />
           <property name="queueManager" value="${testframework.transport.QueueManagerName}" />
           <property name="hostName" value="${testframework.transport.QueueManagerHostName}" />
           <property name="port" value="${testframework.transport.QueueManagerPortNumber}" />
           <property name="channel" value="CLIENT.${testframework.transport.QueueManagerName}" />
        </bean>

        <bean id="inQueue" class="com.ibm.mq.jms.MQQueue">
           <constructor-arg index="0" value="${testframework.transport.QueueManagerName}" />
           <constructor-arg index="1" value="AAW.CCM.SBUSOUT" />
        </bean>

        <bean id="outQueue" class="com.ibm.mq.jms.MQQueue">
           <constructor-arg index="0" value="" />
           <constructor-arg index="1" value="AAW.CCM.SBUSIN" />
        </bean>    
      
        <bean id="serviceRegistryXml" class="net.arcor.mcf.jms.ServiceRegistryXml">
            <property name="serviceRegistryXmlMap">
                <map>
                    <entry key="startPreclearedFixedLineOrderService,001" value-ref="COM-001"/>
                </map>
            </property>
        </bean>

        <bean id="fatalResponse-001" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
            <property name="properties">
                <props>
                    <prop key="requestContextName">net.arcor.sbus.epsm_sbus_001</prop>
                    <prop key="responseContextName">net.arcor.sbus.epsm_sbus_001</prop>
                    <prop key="requestSchemaName">EPSM-SBUS-001.xsd</prop>
                    <prop key="responseSchemaName">EPSM-SBUS-001.xsd</prop>
                </props>
            </property>
        </bean>

        <bean id="COM-001" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
            <property name="properties">
                <props>
                    <prop key="requestContextName">net.arcor.com.epsm_com_001</prop>
                    <prop key="responseContextName">net.arcor.com.epsm_com_001</prop>
                    <prop key="requestSchemaName">EPSM-COM-001.xsd</prop>
                    <prop key="responseSchemaName">EPSM-COM-001.xsd</prop>
                </props>
            </property>
        </bean>

    </beans>     
