<?xml version="1.0" encoding="UTF-8"?>
<!--
#  START HEADER
#  File:                $Workfile:   server.xml.template  $
#  Author:              $Author:   lejam  $
#  Revision:            $Revision:   1.2  $,
#  Purpose:             Template for mcf-fifeaiservice.xml
#  Last Change:         $Date:   Feb 07 2019 10:01:42  $
#  Change history:
#  $Log:   //PVCS_FIF/archives/FIF_API/CF/cfg_templates/server.xml.template-arc  $
#
#   Rev 1.2   Feb 07 2019 10:01:42   lejam
#PPM-325368_359719-GDPR LongTerm
#
#   Rev 1.1   Jun 11 2015 17:05:24   schwarje
#PPM-95514: added config for authentication
#
#   Rev 1.0   Jun 03 2015 14:08:56   schwarje
#Initial revision.
#
#  END HEADER
-->
<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.port.shutdown
#ValidFrom       : FIF-API-EAI-52
#ValidTo         : open
#ParameterType   : Integer
#ValidValues     : 0000 - 9999
#DefaultValue    : -
#ExampleValue    : 8005
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 03.06.15
#Last_Modified_By: schwarje
#Description     : legt den Port fest, ueber den Tomcat heruntergefahren
werden kann
#END PARAMETER
-->
<Server port="${fifeai.tomcat.port.shutdown}"
      shutdown="SHUTDOWN">

	    <GlobalNamingResources>
			<Resource name="UserDatabase" auth="Container"
	          type="org.apache.catalina.UserDatabase"
	          description="User database that can be updated and saved"
	          factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
	          pathname="conf/tomcat-users.xml" />
		</GlobalNamingResources>

      <Service name="Tomcat-Standalone">
      
<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.port.http
#ValidFrom       : FIF-API-EAI-52
#ValidTo         : open
#ParameterType   : Integer
#ValidValues     : 0000 - 9999
#DefaultValue    : -
#ExampleValue    : 8080
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 03.06.15
#Last_Modified_By: schwarje
#Description     : legt den HTTP Port fest, ueber den der Tomcat mittels HTTP erreicht werden kann
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.host
#ValidFrom       : FIF-API-EAI-52
#ValidTo         : open
#ParameterType   : String
#ValidValues     : a valid host name
#DefaultValue    : -
#ExampleValue    : pkg...
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 03.06.15
#Last_Modified_By: schwarje
#Description     : the name of the host.
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.maxthreads
#ValidFrom       : FIF-API-EAI-52
#ValidTo         : open
#ParameterType   : String
#ValidValues     : a positive integer. 
#DefaultValue    : 200
#ExampleValue    : 50
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 03.06.15
#Last_Modified_By: schwarje
#Description     : Max. number of Http parallel threads
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.connectionTimeout
#ValidFrom       : FIF-API-EAI-52
	#ValidTo         : open
#ParameterType   : Integer
#ValidValues     : -1 oder 0 - ...
#DefaultValue    : -
#ExampleValue    : 60000
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 03.06.15
#Last_Modified_By: schwarje
#Description     : legt den Timeout fest, ab dem eine Anfrage nicht erfolgreich abgebrochen
#Description     : wird. -1 bedeutet kein Timeout.
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.port.https
#ValidFrom       : FIF-163.00.00.00
#ValidTo         : open
#ParameterType   : Integer
#ValidValues     : 0000 - 9999
#DefaultValue    : -
#ExampleValue    : 8443
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 25.01.19
#Last_Modified_By: Marcin Leja
#Description     : legt den HTTPS Port fest, ueber den der Tomcat mittels HTTPS erreicht werden kann
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.keystoreFile
#ValidFrom       : FIF-163.00.00.00
#ValidTo         : open
#ParameterType   : String
#ValidValues     : Fully qualified path to the keystore file 
#DefaultValue    : -
#ExampleValue    : /ccb/ccb20/z4/pkgonlz4/rg_z4/pkgonlz4/aaw/z4/fifeai-eai/PRD/pkgeai/FIF-EAI11/FifEaiKeyStore
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 25.01.19
#Last_Modified_By: Marcin Leja
#Description     : Fully qualified path to the keystore file generated by INFRA. Check the opreration manual for details
#END PARAMETER
-->

<!--
#START PARAMETER
#Parameter       : fifeai.tomcat.keystoreFilePassword
#ValidFrom       : FIF-163.00.00.00
#ValidTo         : open
#ParameterType   : String
#ValidValues     : Password for the KeyStore 
#DefaultValue    : -
#ExampleValue    : XXXXX
#RecommendedVal. : -
#Optional        : N
#Last_Modified   : 25.01.19
#Last_Modified_By: Marcin Leja
#Description     : Password used to generate the Keystore. Check the opreration manual for details
#END PARAMETER
-->

            <!-- Define a non-SSL HTTP/1.1 Connector -->
            <Connector port="${fifeai.tomcat.port.http}"
                     address="${fifeai.tomcat.host}"
                     maxthreads="${fifeai.tomcat.maxthreads}"
                     minProcessors="5"
                     maxProcessors="75"
                     enableLookups="true"
                     acceptCount="10"
                     connectionTimeout="${fifeai.tomcat.connectionTimeout}"
                     redirectPort="${fifeai.tomcat.port.https}"/>

            <!-- Define a SSL/TLS HTTP/1.1 Connector -->
            <Connector protocol="HTTP/1.1" SSLEnabled="true" 
                     port="${fifeai.tomcat.port.https}"
                     scheme="https" secure="true" clientAuth="false" 
                     keystoreFile="${fifeai.tomcat.keystoreFile}"
                     keystorePass="${fifeai.tomcat.keystoreFilePassword}" 
                     truststoreFile="${fifeai.tomcat.keystoreFile}"
                     truststorePass="${fifeai.tomcat.keystoreFilePassword}"
                     slProtocol = "TLS" />


            <!-- Define the top level container in our container hierarchy-->
            <Engine name="Standalone" defaultHost="${fifeai.tomcat.host}">

				 <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>

                  <!-- Define the default virtual host -->
                  <Host name="${fifeai.tomcat.host}" 
                  	appBase="webapps" 
                  	unpackWARs="false" 
                  	autoDeploy="false">
                        <Valve className="org.apache.catalina.valves.AccessLogValve" 
                        	directory="logs" 
                        	prefix="localhost_access_log." 
                        	suffix=".txt" 
                        	pattern="common" />
						 <Context path="/manager" docBase="manager" debug="0" privileged="true">
								<Realm className="org.apache.catalina.realm.MemoryRealm" pathname="conf/tomcat-users.xml" />
								<Valve className="org.apache.catalina.valves.RemoteAddrValve" allow="${fifeai.tomcat.manager.allow}"/>
						</Context>
                 </Host>
                  
            </Engine>
      </Service>
</Server>
